body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #e0eafc;
}

.card {
  background: white;
  padding: 25px;
  width: 300px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.role {
  color: gray;
}

button {
  padding: 10px 20px;
  border: none;
  background: #4a6cf7;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
